.container-main {
    flex: 1;
    background-color: '#fff';
    align-items: 'center';
    justify-content: 'center';
}

.labelCounter {
    margin-top: 100;
}

.counter {
    font-size: 30;
}

.container {
    flex: 1;
    flex-direction: 'row';
    background-color: '#fff';
    align-items: 'center';
    justify-content: 'center';
}